.checkbox-lg .custom-control-label::before,.checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 2rem;
    height: 2rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 7px;
    padding-left: 12px;
}
